 /*Top Navigation Bar */
.navigation-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation-item {
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.navigation-link {
    padding: 10px 0 16px 0;
    margin-right: 16px;
    font-size: 14px;
    display: block;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
}


.navigation-link:hover, .active {
    border-top: 5px solid #54d154;
    padding-top: 5px;
}


.navigation-title {
    font-size: 24px;
}

.navigation-search {
    float: right;
    padding: 4px 0 4px 10px;
    border-radius: 50px;
    opacity: 0.8;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    outline: none;
    border: none;
}

.search-above-input {
    position: absolute;
    right: 0;
    margin: 5px 9px 0 0;
    z-index: 1;
}

.hamburger {
    font-size: 30px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-top: 0;
}

.title-logo {
    margin-top: 10px;
}

/* Middle Navigation Section */
.middle-title {
    font-size: 55px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    line-height: 1;
    margin: 0 0 50px 0;
}

.middle-button {
    padding: 10px 27px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    border-radius: 50px;
    background-color: #54d154;
    color: #FFFFFF;
}

.bottom-button {
    padding: 5px 15px 5px 10px;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.7;
    background-color: #FFFFFF;
    border-radius: 50px;
    color: #111111;
    font-family: 'Montserrat', sans-serif;
}

.scroll-down-arrow  {
    margin-left: 5px;
}

/* Services Section */
/* This will be common for all sections */
.common-header-title {
    position: relative;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #828181;
}

.common-header-title::after {
    content: "";
    position: absolute;
    border-top: 2px solid #828181;
    left: 48%;
    bottom: 0;
    top: 15px;
    width: 43px;
    height: 0;
    margin-top: 15px;
    background-color: #828181;
}

.common-header-description {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #b7b3b3;
}

.service-image {
    max-width: 100%;
}

.service-title {
    margin: 27px 0 18px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #828181;
}

.service-description {
    margin-bottom: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #828181;
}

.learn-more-button {
    padding: 5px 15px;
    background-color: #54d154;
    color: #ffffff;
    border-radius: 50px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

/* PORTFOLIO SECTION */
.portfolio-specific {
    color: #2b9b2b;
}

.portfolio-specific1 {
    color: #207b20;
}

.portfolio-specific1::after {
    border-top: 2px solid #207b20;
}

.group-button {
    float: left;
    cursor: pointer;
    padding: 5px 5px;
    border: 1px solid #2b9b2b;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    background-color: #FFFFFF;
    font-size: 12px;
    color: #2b9b2b;
}

.grp-btn-active {
    background-color: #2b9b2b;
    color: #FFFFFF;
}

.group-button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.round-border {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.round-border1 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.group-button:hover {
    background-color: #2b9b2b;
    color: #FFFFFF;
}

.portfolio-image {
    max-width: 100%;
    margin: 0 auto;
    display: block;

}

.no-margin {
    margin-right: 0;
}


.more-portfolio-button {
    padding: 10px 15px;
    background-color: #2b9b2b;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    cursor: pointer;
}

/* TESTIMONIALS */
/* ITS CODE ON SEPARATE FILE */

/*HAPPY CLIENTS*/
.happy-client-image {
    margin: 0 auto;
    max-width: 100%;
    display: block;
}

.vertical-center {
    margin-top: 20px;
}

.vertical-center-2 {
    margin-top: 25px;
}


.more-clients-button {
    padding: 12px 32px;
    background-color: #dddcdc;
    color: #a59d9d;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    cursor: pointer;
}

.arrow2 {
    margin-left: 20px;
}

/*MEET THE TEAM*/
.border-column {
    border-right: 2px solid black;
}

.team-image {
    margin: 0 auto;
    display: block;
}

.teammate-name {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.social-icons {
    cursor: pointer;
}

.beryllium {
    margin: 0 7px;
}

/* WORK WITH US BUTTON */
.with-us-button {
    padding: 13px 24px;
    background-color: #54d154;
    color: #FFFFFF;
    border-radius: 50px;
    text-transform: uppercase;
    box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.1);
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
}

.contact-address {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #cccccc;
}

/*AS SEEN ON*/
.seen-image {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.seen-image-holder {
    margin-top: 30px;
}

/* FOOTER ABOUT */
.pills-on-footer {
    margin-top: 30px;
}

/*FOOTER RECENT POSTS*/
.recent-post-image {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.recent-description {
    line-height: 1.5;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #cccccc;
}

.recent-badge {
    padding: 4px 7px 4px 7px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}


.badge-color-m {
    background-color: #54d154;
}

.badge-color-u {
    background-color: #ffba00;
}

.badge-color-p {
    background-color: #089dea;
}

.badge-color-b {
    background-color: #f34d04;
}

/* CONTACT FORM */
.contact-input {
    width: 100%;
    margin-bottom: 2px;
    padding: 10px 14px;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #444444;
    color: #777777;
}

.no-border-radius {
    border-radius: 0;
}

.seen-on-specific {
    font-weight: bold;
    color: #101010;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.seen-on-specific::after {
    border-top: 2px solid #101010;
}

.footer-specific::after {
    left: 44%;
    border-top: 2px solid #dddddd;
}

.contact-message {
    width: 100%;
    padding: 10px 14px;
    border: none;
    outline: none;
    color: #777777;
    background-color: #444444;
}

.form-submit-button {
    width: 100%;
    background-color: #2b9b2b;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    outline: none;
    padding: 10px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer-copyright-text {
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}




